.head img{ height: 160px; width: 210px;}

.head1{ display: flex;}

h1{ font-size:70px;}

.head2{ display: flex; }

.head{ display: flex; justify-content: space-between;
padding-right:30px;
padding-bottom: 5px; 
border: 1px solid rgb(206, 177, 177);
}

.head2 ul{display: flex;
    font-size: 40px;}

li{
list-style: none;
margin-left: 40px;}

.body{ display: flex; margin: 70px 5px;}

.bleft{
margin-right: 50px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; font-size: 30px; padding-left: 30px; height: 1050px;
flex:1;}

.bright{ flex: 1;}

a{text-decoration: none; color: black;}
a:hover{ color: rgb(145, 61, 9); 
    text-decoration:underline; }

.rightB,.rightT{display: flex; 
    /* border: 3px solid black ; */
    padding: 20px;font-size:30px ; margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }

.Rightimg{ height: 450px; width: 500px; margin-right: 50px;}

.leftimg{ height:500px; margin-left: 30px;}
h2{color: brown; font-size:60px ;}

button{ font-size: 25px; font-style: italic; color: aliceblue; background-color: brown; padding: 10px;}

button:hover{ background-color: transparent; color: red; border: 1px solid red;}

span{ display: block; text-align: center; font-size: 30px;}